//General
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
// Navigation
.link__active{
    color: #e84e1b !important;
}
header {
    background-color: #008380;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4em;
    .logo a {
        font-size: 1.6em;
        text-decoration: none;
        color: #ddd;
        margin-left: 1em;
    }
    .nav {
        margin-right: 1em;
        height: 4em;
        display: flex;
        align-items: center;
        &__ul {
            list-style: none;
            height: inherit;
            display: inherit;
            align-items: inherit;
        }
        &__li {
            display: flex;
            align-items: inherit;
            height: inherit;
        }
        &__li a {
            margin: 0.6em;
            font-size: 18px;
            text-decoration: none;
            color: #fff;
            display: inherit;
            align-items: inherit;
            height: inherit;
        }   
    }
}